.input {
  width: 100%;
  border-radius: 2rem;
  border: 2px solid var(--theme-primary);

  &:hover,
  &:active,
  &:focus-visible {
    border: 2px solid var(--theme-primary);
    outline: none;
  }
}
