.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
}
.imageContainer {
  background-color: #999;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.title {
}
