.container {
  width: 100%;
  background: linear-gradient(
    to right,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );
  color: #fff;
  height: 5rem;
  font-size: 2rem;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
