.container {
  width: 100%;
  background-color: var(--theme-primary);
  color: #fff;
  height: 5rem;
  font-size: 2rem;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
