.addToCartWrapper {
  position: relative;
  height: 32px;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
  &:hover .addToCartBtn {
    background-color: #195ebe;
  }
}
.cartIcon {
  position: absolute;
  height: 100%;
  width: 48px;
  z-index: 10;
  cursor: pointer;
  background-color: red;
  display: flex;
  // justify-content: center;
  align-items: center;
  clip-path: circle(100% at 0% 10%);
  svg {
    margin-left: 9px;
    width: 45%;
  }
}
.addToCartBtn {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #3c7fdb;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}
